<ul >
    <li *ngFor="let product of products ">{{product.Name}}</li>
</ul>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Customer Database</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
           <!-- <button (click)="addItemtoFirebase(10,'Niko',28,1300,'Dev',false)">add</button>
           <button (click)="delete()">Xoa</button> -->
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                      
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                       <th>ID</th>
                       <th>Name</th>
                       <th>Price</th>
                      
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let product of products ">
                      
                        <td > {{product.id}} </td>
                        <td > {{product.Name}} </td>
                        <td > {{product.Price}} </td>
                    </tr>
                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>
